<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>File Server {{.CurrentPath}}</title>
  </head>
  <body>
    <h1>{{.CurrentPath}}</h1>
    <table>
      <tr>
        <th>name</th>
      </tr>
      {{range .ViewD}}
      <tr>
        <td><a href="{{ .Url }}">{{ .Name }}</a></td>
      </tr>
      <tr>
        {{ end }}
      </tr>
    </table>

    <form method="post" action="" enctype="multipart/form-data">
      <input type="file" name="uploadfile">
      <input type="submit">
    </form>
  </body>
</html>
